In [1]:
import numpy as np
import pandas as pd
data = pd.read_csv("train.csv")

In [2]:
data.head(n=10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [4]:
column_to_drop = ["PassengerId","Name","Ticket","Cabin","Embarked"]
data_clean = data.drop(column_to_drop,axis=1)

In [5]:
data_clean

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare
0           0       3    male  22.0      1      0    7.2500
1           1       1  female  38.0      1      0   71.2833
2           1       3  female  26.0      0      0    7.9250
3           1       1  female  35.0      1      0   53.1000
4           0       3    male  35.0      0      0    8.0500
5           0       3    male   NaN      0      0    8.4583
6           0       1    male  54.0      0      0   51.8625
7           0       3    male   2.0      3      1   21.0750
8           1       3  female  27.0      0      2   11.1333
9           1       2  female  14.0      1      0   30.0708
10          1       3  female   4.0      1      1   16.7000
11          1       1  female  58.0      0      0   26.5500
12          0       3    male  20.0      0      0    8.0500
13          0       3    male  39.0      1      5   31.2750
14          0       3  female  14.0      0      0    7.8542
15          1       2  female  55.0      0      0   16.0000
16          0       3    male   2.0      4      1   29.1250
17          1       2    male   NaN      0      0   13.0000
18          0       3  female  31.0      1      0   18.0000
19          1       3  female   NaN      0      0    7.2250
20          0       2    male  35.0      0      0   26.0000
21          1       2    male  34.0      0      0   13.0000
22          1       3  female  15.0      0      0    8.0292
23          1       1    male  28.0      0      0   35.5000
24          0       3  female   8.0      3      1   21.0750
25          1       3  female  38.0      1      5   31.3875
26          0       3    male   NaN      0      0    7.2250
27          0       1    male  19.0      3      2  263.0000
28          1       3  female   NaN      0      0    7.8792
29          0       3    male   NaN      0      0    7.8958
..        ...     ...     ...   ...    ...    ...       ...
861         0       2    male  21.0      1      0   11.5000
862         1       1  female  48.0      0      0   25.9292
863         0       3  female   NaN      8      2   69.5500
864         0       2    male  24.0      0      0   13.0000
865         1       2  female  42.0      0      0   13.0000
866         1       2  female  27.0      1      0   13.8583
867         0       1    male  31.0      0      0   50.4958
868         0       3    male   NaN      0      0    9.5000
869         1       3    male   4.0      1      1   11.1333
870         0       3    male  26.0      0      0    7.8958
871         1       1  female  47.0      1      1   52.5542
872         0       1    male  33.0      0      0    5.0000
873         0       3    male  47.0      0      0    9.0000
874         1       2  female  28.0      1      0   24.0000
875         1       3  female  15.0      0      0    7.2250
876         0       3    male  20.0      0      0    9.8458
877         0       3    male  19.0      0      0    7.8958
878         0       3    male   NaN      0      0    7.8958
879         1       1  female  56.0      0      1   83.1583
880         1       2  female  25.0      0      1   26.0000
881         0       3    male  33.0      0      0    7.8958
882         0       3  female  22.0      0      0   10.5167
883         0       2    male  28.0      0      0   10.5000
884         0       3    male  25.0      0      0    7.0500
885         0       3  female  39.0      0      5   29.1250
886         0       2    male  27.0      0      0   13.0000
887         1       1  female  19.0      0      0   30.0000
888         0       3  female   NaN      1      2   23.4500
889         1       1    male  26.0      0      0   30.0000
890         0       3    male  32.0      0      0    7.7500

[891 rows x 7 columns]

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
le = LabelEncoder()
data_clean["Sex"]=le.fit_transform(data_clean["Sex"])

In [8]:
data_clean.head(5)

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

In [9]:
data_clean = data_clean.fillna(data_clean["Age"].mean())

In [12]:
input_cols = ["Pclass","Sex","Age","SibSp","Parch","Fare"]
output_cols = ["Survived"]
X = data_clean[input_cols]
Y = data_clean[output_cols]

In [14]:
def entropy(col):
    counts = np.unique(col,return_counts=True)
    N = float(col.shape[0])
    ent = 0.0
    for ix in counts[1]:
        p = ix/N
        ent += (-1.0*p*np.log2(p))
    return ent

In [15]:
col = np.array([1,1,0,0,1,0])
entropy(col)

1.0

In [18]:
def divide_data(x_data,fkey,fval):
    x_right = pd.DataFrame([],columns=x_data.columns)
    x_left = pd.DataFrame([],columns=x_data.columns)
    for ix in range(x_data.shape[0]):
        val = x_data[fkey].loc[ix]
        if val > fval:
            x_right = x_right.append(x_data.loc[ix])
        else:
            x_left = x_left.append(x_data.loc[ix])
    return x_right,x_left

In [20]:
# x_right,x_left = divide_data(data_clean[:10],'Sex',0.5)
# print(x_right)
# print(x_left)

   Survived  Pclass  Sex        Age  SibSp  Parch     Fare
0       0.0     3.0  1.0  22.000000    1.0    0.0   7.2500
4       0.0     3.0  1.0  35.000000    0.0    0.0   8.0500
5       0.0     3.0  1.0  29.699118    0.0    0.0   8.4583
6       0.0     1.0  1.0  54.000000    0.0    0.0  51.8625
7       0.0     3.0  1.0   2.000000    3.0    1.0  21.0750
   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
1       1.0     1.0  0.0  38.0    1.0    0.0  71.2833
2       1.0     3.0  0.0  26.0    0.0    0.0   7.9250
3       1.0     1.0  0.0  35.0    1.0    0.0  53.1000
8       1.0     3.0  0.0  27.0    0.0    2.0  11.1333
9       1.0     2.0  0.0  14.0    1.0    0.0  30.0708

In [21]:
def information_gain(x_data,fkey,fval):
    right,left = divide_data(x_data,fkey,fval)
    l = float(left.shape[0])/x_data.shape[0]
    r = float(right.shape[0])/x_data.shape[0]
    if left.shape[0] == 0 or right.shape[0] == 0:
        return -1000000
    
    i_gain = entropy(x_data.Survived) - ((l*entropy(left.Survived)) + r*entropy(right.Survived))
    return i_gain

In [22]:
for fx in X.columns:
    print(fx)
    print(information_gain(data_clean,fx,data_clean[fx].mean()))

Pclass
0.07579362743608165
Sex
0.2176601066606142
Age
0.001158644038169343
SibSp
0.009584541813400071
Parch
0.015380754493137694
Fare
0.042140692838995464

In [40]:
class DecisionTree:
    def __init__(self,depth=0,max_depth = 5):
        self.left = None
        self.right = None
        self.fkey = None
        self.fval = None
        self.max_depth = max_depth
        self.depth = depth
        self.target = None
        
    def train(self,X_train):
        features = ['Pclass','Sex','Age','SibSp','Parch','Fare']
        info_gains = []
        
        for ix in features:
            i_gain = information_gain(X_train,ix,X_train[ix].mean())
            info_gains.append(i_gain)
            

        self.fkey = features[np.argmax(info_gains)]
        self.fval = X_train[self.fkey].mean()
        print("Making tree Feature is : ",self.fkey)
        
        #Split data
        data_right,data_left = divide_data(X_train,self.fkey,self.fval)
        data_left = data_left.reset_index(drop=True)
        data_right = data_right.reset_index(drop=True)
        
        if data_left.shape[0] == 0 or data_right.shape[0] == 0:
            if X_train.Survived.mean() >= 0.5:
                self.target = "Survive"
            else:
                self.target = "Dead"
            return
        if self.depth >= self.max_depth:
            if X_train.Survived.mean() >= 0.5:
                self.target = "Survive"
            else:
                self.target = "Dead"
            return
        #Recursive case
        self.left = DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.left.train(data_left)
        
        self.right = DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.right.train(data_right)
        
        if X_train.Survived.mean() >= 0.5:
            self.target = "Survived"
        else:
            self.target = "Dead"
        return
       
    def predict(self,test):
        if test[self.fkey]>self.fval:
            #go to right
            if self.right is None:
                return self.target
            return self.right.predict(test)
        else:
            if self.left is None:
                return self.target
            return self.left.predict(test)

In [43]:
d=DecisionTree()
d.train(data_clean)

Making tree Feature is :  Sex
Making tree Feature is :  Pclass
Making tree Feature is :  Pclass
Making tree Feature is :  Parch
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  Parch
Making tree Feature is :  Age
Making tree Feature is :  Fare
Making tree Feature is :  Parch
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  Fare
Making tree Feature is :  SibSp
Making tree Feature is :  Fare
Making tree Feature is :  Fare
Making tree Feature is :  Age
Making tree Feature is :  SibSp
Making tree Feature is :  Parch
Making tree Feature is :  Age
Making tree Feature is :  SibSp
Making tree Feature is :  Fare
Making tree Feature is :  Parch
Making tree Feature is :  Parch
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  Fare
Making tree Feature is :  Parch
Making tree Feature is :  Pclass
Making tree Feature is :  Pclass
Making tree Feature is :  Age
Making tree Feature is :  SibSp
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  SibSp
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  Fare
Making tree Feature is :  Age
Making tree Feature is :  Pclass
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  Fare
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  Parch
Making tree Feature is :  SibSp
Making tree Feature is :  SibSp
Making tree Feature is :  Pclass
Making tree Feature is :  Parch
Making tree Feature is :  SibSp
Making tree Feature is :  Parch
Making tree Feature is :  Age
Making tree Feature is :  Age

In [44]:
split = int(0.7*data_clean.shape[0])
train_data = data_clean[:split]
test_data = data_clean[split:]
test_data = test_data.reset_index(drop=True)
print(test_data.shape,train_data.shape)

(268, 7) (623, 7)

In [45]:
dt = DecisionTree()

In [46]:
dt.train(train_data)

Making tree Feature is :  Sex
Making tree Feature is :  Pclass
Making tree Feature is :  Age
Making tree Feature is :  SibSp
Making tree Feature is :  Pclass
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  SibSp
Making tree Feature is :  Parch
Making tree Feature is :  Pclass
Making tree Feature is :  SibSp
Making tree Feature is :  Fare
Making tree Feature is :  Parch
Making tree Feature is :  Age
Making tree Feature is :  Pclass
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  Parch
Making tree Feature is :  SibSp
Making tree Feature is :  Fare
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  Fare
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  Fare
Making tree Feature is :  Age
Making tree Feature is :  Parch
Making tree Feature is :  Fare
Making tree Feature is :  Fare
Making tree Feature is :  Fare
Making tree Feature is :  Age
Making tree Feature is :  Fare
Making tree Feature is :  Parch
Making tree Feature is :  Fare
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  Fare
Making tree Feature is :  Fare
Making tree Feature is :  SibSp
Making tree Feature is :  Fare
Making tree Feature is :  Age
Making tree Feature is :  Fare
Making tree Feature is :  Pclass
Making tree Feature is :  SibSp
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  Pclass
Making tree Feature is :  Age
Making tree Feature is :  SibSp
Making tree Feature is :  Fare
Making tree Feature is :  SibSp
Making tree Feature is :  Age
Making tree Feature is :  Parch
Making tree Feature is :  SibSp
Making tree Feature is :  SibSp
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  Age
Making tree Feature is :  Parch
Making tree Feature is :  Age
Making tree Feature is :  Age

In [47]:
print(dt.fkey)

Sex

In [51]:
print(dt.left.fkey)
print(dt.fval)

Pclass
0.6292134831460674

In [52]:
y_pred = []
for ix in range(test_data.shape[0]):
    y_pred.append(dt.predict(test_data.loc[ix]))

In [53]:
y_pred

['Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead']

In [54]:
le = LabelEncoder()
y_pred = le.fit_transform(y_pred)
print(y_pred)

[0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 1 0 1 0 1 1 0 0 1 0 0
 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0
 1 0 0 1 0 1 0 0 0 1 0 1 0 1 0 0 0 0 0 1 1 0 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0
 0 0 0 0 0 0 0 1 1 0 0 0 1 1 1 0 1 0 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 1 0 0 0
 0 1 0 1 0 0 0 0 1 1 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0 0 1
 0 1 0 0 0 0 0 0 1 0 0 0 1 0 0 1 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 0 0 1 0 0
 0 0 0 0 1 0 0 1 1 1 1 1 0 1 0 0 0 1 0 0 1 1 0 0 0 0 1 0 0 1 1 0 0 0 1 1 0
 0 0 0 0 0 1 0 0 0]

In [56]:
y_pred = np.array(y_pred).reshape((-1,1))
print(y_pred.shape)

(268, 1)

In [59]:
y_actual = Y[split:]
y_actual = y_actual.reset_index(drop=True)
acc = np.sum(y_pred == y_actual)/y_pred.shape[0]

In [60]:
print(acc)

Survived    0.817164
dtype: float64